<h1>音楽投稿</h1>

<% if user_signed_in? %>

<%= "#{current_user.last_name}さん"%>こんばんは！
<ul>
 <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
</ul>
 <% else %> 
<ul>
 <li> <%= link_to 'ログイン' ,new_user_session_path  %> </li>
 <li> <%= link_to '新規登録' , new_user_registration_path %> </li>
</ul>
<% end %>
<h2>音楽フレーズを投稿する</h2>
<%= link_to '投稿する', new_music_path %>

<% @musics.each do |music| %>
<%= music.name%>
<%= music.phrase%>
<%= music.text%>

<%= image_tag music.image.variant(resize: '300x300'), class: "item-img" %>

<% end %>